.page-machineDetail {
    & * {
        color: $color-white !important;
    }

    #svm-canvas {
        max-width: 1800px !important;

        #pageContent {
            #hcontact-block {
                .mainSpecsBlock {
                    padding-bottom: 1rem !important;

                    h1 {
                        display: block !important;
                        height: unset !important;
                        font-weight: bold;
                        overflow: visible !important;
                        font-size: 2.5rem !important;
                        line-height: 2.5rem !important;
                        padding-left: 0 !important;
                        color: $color-white !important;
                        margin-top: 0 !important;
                        margin-bottom: 1.5rem;
                        padding-bottom: 1.5rem;
                        border-bottom: 3px solid $color-main;
                    }

                    ul {
                        padding-bottom: 1.5rem;
                        border-bottom: 3px solid $color-main;

                        li {
                            margin-bottom: 0.5rem;
                            float: unset !important;

                            .svm-label {
                                font-size: 1.25rem;
                                display: flex;

                                &:after {
                                    content: ":";
                                    display: block;
                                    margin-left: auto;
                                    color: $color-main;
                                }
                            }

                            span.value {
                                font-weight: bold;
                                font-size: 1.25rem;
                                opacity: 0.55;
                            }
                        }
                    }
                }
            }

            #hprice {
                .price {
                    text-align: end !important;

                    .price_with_currency {
                        font-size: 2.5rem !important;
                        line-height: 2.75rem;                        
                    }

                    .price_btw {
                        font-size: 1rem;
                        opacity: 0.5;
                    }
                }
            }

            .photoHolderLinks {
                .saveCompare, a {
                    display: none !important;
                }

                div > a {
                    display: inline-block !important;
                    font-size: 1rem;

                    svg {
                        margin-right: 0.5rem;
                    }
                }
            }

            #detailsContainer {
                #svm-block-specifications-block {
                    display: none;
                }
            }
        }
    }
}