.page-dealer-voorraad-detail,
.page-voorraad-detail {
    & * {
        &:not(svg) {
            color: $color-white !important;
        }
    }

    .page-back-button {
        margin: 1rem 0 1rem 1.25rem;
        padding-bottom: 0.25rem;
        border-bottom: 2px solid $color-main;
        width: fit-content;

        .back-button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            .back-arrow {
                color: $color-main !important;
            }
        }
    }

    #svm-canvas {
        max-width: 1800px !important;
        width: 1800px !important;

        #pageContent {
            #detailsContainer {
                .photoHolderLinks {
                    display: none !important;
                }
            }

            #hcontact-block {
                .mainSpecsBlock {
                    padding-bottom: 1rem !important;
                    
                    @media screen and (min-width: 1121px) {
                        padding: 0 10px !important;
                    }

                    @media screen and (min-width: 1300px) {
                        padding: 0 40px !important;
                    }

                    .svm-label {
                        width: 50% !important;

                        @media screen and (max-width: 450px) {
                            width: 65% !important;
                        }

                        @media screen and (min-width: 1121px) {
                            width: 60% !important;
                        }

                        @media screen and (min-width: 1700px) {
                            width: 50% !important;
                        }
                    }

                    span.value {
                        width: 50% !important;

                        @media screen and (max-width: 450px) {
                            width: 35% !important;
                        }

                        @media screen and (min-width: 1121px) {
                            width: 40% !important;
                        }

                        @media screen and (min-width: 1700px) {
                            width: 50% !important;
                        }
                    }

                    h1 {
                        display: block !important;
                        height: unset !important;
                        font-weight: bold;
                        overflow: visible !important;
                        font-size: 2.5rem !important;
                        line-height: 2.5rem !important;
                        padding-left: 0 !important;
                        color: $color-white !important;
                        margin-top: 0 !important;
                        margin-bottom: 1.5rem;
                        padding-bottom: 1.5rem;
                        border-bottom: 3px solid $color-main;
                    }

                    ul {
                        padding-bottom: 1.5rem;
                        border-bottom: 3px solid $color-main;

                        li {
                            margin-bottom: 0.5rem;
                            float: unset !important;

                            .svm-label {
                                font-size: 1.25rem;
                                display: flex;
                                width: 80%;

                                &:after {
                                    content: ":";
                                    display: block;
                                    margin-left: auto;
                                    color: $color-main;
                                }
                            }

                            span.value {
                                font-weight: bold;
                                font-size: 1.25rem;
                                opacity: 0.55;
                                width: 20%;
                            }
                        }
                    }
                }

                .contact-buttons-wrapper {
                    display: flex !important;
                    gap: 1rem !important;

                    @media screen and (min-width: 1121px) {
                        padding: 0 40px !important;
                    }

                    .buy-button, .rent-button {
                        background-color: $color-main !important;
                        text-align: center !important;
                        text-decoration: none !important;
                        border-radius: 5px !important;
                        font-weight: bold !important;
                        font-size: large !important;
                        width: 50% !important;
                        padding-top: 7.5px !important;
                        padding-bottom: 7.5px !important;
                        transition: 0.3s !important;

                        &:hover {
                            background-color: $color-main-light !important;
                        }
                    }
                }
                
                .share-buttons-wrapper {
                    padding-top: 2rem;

                    @media screen and (min-width: 1121px) {
                        padding: 2rem 40px 0 40px !important;
                    }

                    .share-header {
                        font-size: 1.5rem;
                        line-height: 2rem;
                        margin-bottom: 0.5rem;

                        @media screen and (max-width: 768px) {
                            margin-bottom: 0 !important;
                            padding-bottom: 0 !important;
                        }
                    }

                    .share-body {
                        display: flex;
                        gap: 1.5rem;
                        padding-top: 0.75rem !important;

                        .whatsapp-link-wrapper .whatsapp-link, .mail-link-wrapper .mail-link {
                            display: flex;
                            gap: 0.5rem;
                            align-items: center;
                            justify-content: center;
                            text-decoration: none;
                            font-size: 1rem;

                            svg {
                                width: 20px;
                                height: 20px;

                                path {
                                    color: $color-main !important;
                                }
                            }
                        }
                    }
                }

                #hcontact {
                    display: none !important;

                    #button_telephone {
                        background-color: $color-main;
                        padding: 0.75rem 1rem;
                    }
                }
            }

            #hprice {
                .price {
                    text-align: end !important;

                    .price_with_currency {
                        font-size: 2.5rem !important;
                        line-height: 2.75rem;                        
                    }

                    .price_btw {
                        font-size: 1rem;
                        opacity: 0.5;
                    }
                }
            }

            .photoHolderLinks {
                .saveCompare, a {
                    display: none !important;
                }

                div > a {
                    display: inline-block !important;
                    font-size: 1rem;

                    svg {
                        margin-right: 0.5rem;
                    }
                }
            }

            #detailsContainer {
                #svm-block-specifications-block {
                    display: none;
                }
            }
        }
    }

    .tingle-modal {
        .tingle-modal-box {
            .popinPage  {
                h3, h4, .intro-block .intro {
                    color: $color-black !important;
                }

                .clientData {
                    input,select, option {
                        color: #B9AAB1 !important;
                    }
                }
            }

            .tingle-modal-box__footer {
                button {
                    &:first-child {
                        color: $color-black !important;

                        &:hover {
                            color: $color-white !important;
                        }
                    }

                    &:last-child {
                        color: $color-white !important;

                        &:hover {
                            color: $color-black !important;
                        }
                    }
                }
            }
        }
    }
}