.page-home {
    .header {
        position: relative;
        height: 100vh;
        text-align: center;
        justify-content: center;
    }
      
    .content-block-homepage {
        top: calc(128px + 5vw);
        left: 5vw;

        .content-block-homepage-inner {
            width: calc(100% - 5vw);

            @media screen and (min-width: 768px) {
                width: 50%;
            }

            .content-buttons-wrapper {
                justify-content: space-between;
                @media screen and (min-width: 768px) {
                    justify-content: unset;
                    gap: 2rem;
                }

                button.cta-button {
                    margin-top: 1rem;
                }
            }
        }   
    }

    .homepage-video-style {
        position: absolute;
        width: 100%;
    }
      
    .grid-temp-cols-card {
        grid-template-columns: repeat(auto-fit, 280px);

        @media (min-width: 768px) { 
              grid-template-columns: repeat(auto-fit, 330px);
        }
    }

    .recent-items {
        #svm-canvas,
        .svm-canvas-hidden {
            display: none !important;
        }

        #recently-added-machines {
            padding: 0 128px;

            .swiper-wrapper {
                .vehicle-card {
                    flex: none !important;
                    height: auto !important;
                }
            }
        }
    }
}

