.page-voorraad, .page-machineDetail {
    #svm-canvas {
        width: 100%;

        #pageSidebar {
            .refineAdd label,
            .svm-label {
                color: $color-white;

                .svg-inline--fa {
                    margin-left: 0.5rem;
                }
            }

            .refineAdd label {
                &:before {
                    top: 6px !important;
                }

                &:after {
                    top: 8px !important;
                    left: 2px !important;
                }
            }
        }

        #pageContent {
            height: auto !important;

            #stockContainer {
                #stock {
                    .navigation {
                        .sort {
                            color: $color-white !important;
                        }

                        .languageFlagsContainer {
                            display: none;
                        }   

                        .actions {
                            display: none;
                        }
                    }

                    #resultsTable {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 2rem;

                        .vehicle-card {
                            flex: 0 1 calc(100% / 3 - 2rem / 1.5);
                            background-color: white;
                            overflow: hidden;

                            &:hover {
                                .thumbnail-wrapper {
                                    .vehicle-thumbnail {
                                        transform: scale(1.1);
                                    }
                                }

                                .card-body {
                                    .vehicle-title {
                                        background-size:100% 2px;
                                    }
                                }
                            }

                            .thumbnail-wrapper {
                                overflow: hidden;

                                img {
                                    width: 100%;
                                    aspect-ratio: 4/3;
                                    object-fit: cover;
                                    transition: $transition-sm;
                                }
                            }
                            
                            .card-body {
                                padding: 1rem;

                                .vehicle-title {
                                    font-weight: bold;
                                    font-size: 1.25rem;
                                    line-height: 1.5rem;
                                    color: black;
                                    position: relative;
                                    text-decoration: none;
                                    background:linear-gradient(#000,#000) left bottom no-repeat;
                                    background-size:0% 2px;
                                    transition: $transition-sm;
                                }

                                .card-links {
                                    display: flex;
                                    justify-content: space-around;
                                    padding: 1rem 0 1.5rem 0;

                                    .contact-link, .details-link {
                                        border: 2px solid $color-main;
                                        padding: 0.5rem 1rem;
                                        text-decoration: none;
                                        transition: $transition-sm;
                                        font-weight: bold;

                                        &:hover {
                                            background-color: $color-main;
                                            color: $color-white;
                                        }
                                    }
                                }

                                

                                .vehicle-description {
                                    text-align: center;
                                    padding-bottom: 1.5rem;

                                    .desc_spec {
                                        font-weight: bold;
                                    }

                                    .separator {
                                        color: $color-main;
                                        font-weight: bold;
                                    }
                                }

                                .vehicle-price-wrapper {
                                    text-align: end;
                                    display: flex;
                                    flex-direction: column;

                                    .vehicle-price {
                                        font-size: 1.5rem;
                                        margin-bottom: 0.25rem;
                                    }

                                    .vehicle-price-sub-text {
                                        opacity: 0.6;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}