.page-voorraad, .page-machineDetail {
    #svm-canvas {
        width: 100%;

        #pageSidebar {
            .refineAdd label,
            .svm-label {
                color: $color-white;

                .svg-inline--fa {
                    margin-left: 0.5rem;
                }
            }

            .refineAdd label {
                &:before {
                    top: 6px !important;
                }

                &:after {
                    top: 8px !important;
                    left: 2px !important;
                }
            }
        }

        #pageContent {
            height: auto !important;

            #stockContainer {
                #stock {
                    .navigation {
                        .sort {
                            color: $color-white !important;
                        }

                        .languageFlagsContainer {
                            display: none;
                        }   

                        .actions {
                            display: none;
                        }
                    }

                    #resultsTable {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 2rem;
                    }
                }
            }
        }
    }
}