.login-form {
    width: 330px;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    
    @media(min-width: 500px)
    {
        width: 450px;
    }

    .login-button {
    padding: 0.75rem 3rem;
    }

    .password-icon {
        float: right;
        margin-right: 15px;
        margin-top: -30px;
        position: relative;
        z-index: 2;
        color: rgb(31 41 55);
        font-size: large;
        cursor: pointer;
    }

    .login-remind-me {
        --tw-ring-offset-shadow: 0;
    }

    [type=checkbox] {
        color: $color-main;
    }
    
}

.login-title-wrapper {
    width: 330px;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
    @media(min-width: 500px)
    {
        width: 450px;
    }

    .login-title {
        padding: 10px;
    }
}