@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-tap-highlight-color: transparent;
    font-family: candara;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #0000; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #707070; 
  }