#navbar {
    div.hamburger-icon-wrapper,
    a.nav-logo {
        z-index: 100;
    }

    .hamburger-icon-wrapper {
        &.open {
            .hamburger-wrapper {
                .line {
                    &.line-1 {
                        transform: rotate(135deg);
                        margin-bottom: -4px;
                    }

                    &.line-2 {
                        opacity: 0;
                    }

                    &.line-3 {
                        transform: rotate(-135deg);
                        margin-top: -4px;
                    }
                }
            }
        }

        .hamburger-wrapper {
            .line  {
                width: 40px;
                height: 4px;
                border-radius: 5px;
                background-color: white;
                transition: 0.3s ease-in-out;

                &.line-1 {
                    margin-bottom: 10px;
                }
                &.line-3 {
                    margin-top: 10px;
                }
            }
        }
    }

    #navbar-expanded-mobile {
        position: absolute;
        width: 100vw;
        height: calc(100vh - 40px);
        top: 40px;
        left: 0;
        background: black;
        padding: 88px 1.25rem 0 1.25rem;
        transform: translateY(-100%);
        transition: 0.3s ease-in-out;

        &.open {
            transform: translateY(0);
        }

        .menu-list {
            ul {
                li {
                    a {
                        div.navbar-item {
                            font-size: 2rem;
                            margin-top: 2rem;
                            margin-left: 1rem;
                            font-weight: bold;
                            border-bottom: 2px solid $color-gray;

                            &.active {
                                border-bottom: 2px solid $color-main;
                            }
                        }
                    }
                }
            }
        }
    }

    .language-selector {
        #language-dropdown-menu {
            margin-top: 15px !important;
        }
    
        .lang-dropdown {
            &:before,
            &:after {
                bottom: 100%;
                border: solid transparent;
                content: "";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            &:after {
                border-color: rgba(255, 255, 255, 0);
                border-bottom-color: #707070;
                border-width: 19px;
                right: 0;
                margin-top: 5px
            }
        }
    }
}