.vehicle-card {
    flex: 0 1 calc(100% / 3 - 2rem / 1.5) !important;
    background-color: white !important;
    overflow: hidden !important;

    &:hover {
        .thumbnail-wrapper {
            .vehicle-thumbnail {
                transform: scale(1.1) !important;
            }
        }

        .card-body {
            .vehicle-title {
                background-size:100% 2px !important;
            }
        }
    }

    .thumbnail-wrapper {
        overflow: hidden !important;

        img {
            width: 100% !important;
            aspect-ratio: 4/3 !important;
            object-fit: cover !important;
            transition: $transition-sm !important;
        }
    }
    
    .card-body {
        padding: 1rem !important;

        .vehicle-title {
            font-weight: bold !important;
            font-size: 1.25rem !important;
            line-height: 1.5rem !important;
            color: black !important;
            position: relative !important;
            text-decoration: none !important;
            background:linear-gradient(#000,#000) left bottom no-repeat !important;
            background-size:0% 2px !important;
            transition: $transition-sm !important;
        }

        .card-links {
            display: flex !important;
            justify-content: space-around !important;
            padding: 1rem 0 1.5rem 0 !important;

            .contact-link, .details-link {
                border: 2px solid $color-main !important;
                padding: 0.5rem 1rem !important;
                text-decoration: none !important;
                transition: $transition-sm !important;
                font-weight: bold !important;
                color: $color-black !important;

                &:hover {
                    background-color: $color-main !important;
                    color: $color-white !important;
                }
            }
        }

        

        .vehicle-description {
            text-align: center !important;
            padding-bottom: 1.5rem !important;

            .desc_spec {
                font-weight: bold !important;
                color: $color-black !important;
            }

            .separator {
                color: $color-main !important;
                font-weight: bold !important;
            }
        }

        .vehicle-price-wrapper {
            text-align: end !important;
            display: flex !important;
            flex-direction: column !important;

            .vehicle-price {
                font-size: 1.5rem !important;
                margin-bottom: 0.25rem !important;
                color: $color-black !important;
            }

            .vehicle-price-sub-text {
                color: $color-black !important;
                opacity: 0.6 !important;
            }
        }
    }
}