.page-dashboard-account {
    .eye-wrapper {
        float: right;
        margin-right: 15px;
        margin-top: -30px;
        position: relative;
        z-index: 2;
        color: rgb(31 41 55);
        font-size: large;
        cursor: pointer;
    }
}